.meetVideoContainer {
    /* yahan height diye to neeche wala aaya */
    /* neeche wala ka content height q nahi liya ? */
    /* => bcoz child absolute hai or normal flow se hatt gaya */
    position: relative;
    height: 100vh; 
    background: rgb(64, 2, 61);
}

.meetUserVideo {
    position: absolute;
    bottom: 10vh;
    right: 0;
    height: 20vh;
    width: auto;
    border-radius: 20px;
}

.buttonContainers {
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

.buttonContainers svg {
    font-size: 2.5rem;
}

.conferenceView {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
}

.conferenceView video {
    width: 40vw;
    height: 20vh;
    min-width: 30vw;
    border-radius: 10px;
}