* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

} */
